ul{
    padding:0px!important;
}
.menu-principal{
width: 100%;
background-color:#252323;
height: 60px;
}
body{
    width: 100%;
    text-align: center;
    
}

.main{
margin: 0 auto;
width: 980px;
position: relative;
}
.nome{
text-align: center;
color: azure;
font-size: 15px;
padding: 0px;
width: 100%;
}
.redes-sociais ul li{
margin-left: 15px;
display: inline-block;
float: left;
list-style: none;
}
.redes-sociais{
width: 20%;
float: left;
padding: 15px;

}
section{
    text-align: center;

}
.margem{
    margin-top: 10px;
}

.col-sm-4{
   margin-top: 50px;

}
.titulo{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 15px;
    background-color: aqua;    
    font-weight: 700;
    
}

h2{
    text-align: center;
}

.tudo{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 0px 30px 80px 30px;
    border: 1px solid;
    
}
.tud{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 0px 30px 80px 30px;

}


input{
    padding: 2px;
    padding-right: 10px;
}
.cadastro{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 0px 30px 80px 30px;
    border: 1px solid;

}
#cor{
    background-color: aqua;
}
.carousel-caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
p{
    font-size: 14px; 
}



h4{
    float:center;
}

#cor{
    background-color: black !important;
}

.linha{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    

}


